.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.slider {
    position: relative;
    width: 60%;
    height: 400px; 
    overflow: hidden;
    display: flex;
}

.slide {
    width: 70%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 8px;
    left: 15%;
}

.slide.active {
    opacity: 1;
}

.project-info {
    width: 35%;
    padding: 20px;
    background: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

.project-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.project-info .price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.project-info .buttons {
    display: flex;
    gap: 10px;
}

.project-info .btn {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.project-info .btn:hover {
    background-color: #e5533c;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.slider-btn.prev {
    left: 20px;
}

.slider-btn.next {
    right: 20px;
}
